.stages span {
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}

.stages-on {
  color: #999;
  border: 1px solid #ddd;
}

.stages-view {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
